.container{
  display:block;
  box-sizing:border-box;
  height:auto;
  padding:2rem 5rem;
  width:40vw;
  margin:0 auto;
  background-image: linear-gradient(to bottom, #1CB5E0,#02024d);
}

.container-inner{
  display:block;
  width:100%;
  height:auto;
}

h1{
  margin:20px;
  font-size:2.6em;
  font-weight:800;
  color:rgb(0, 0, 7);
}


.container1{
  display:grid;
  grid-template-columns: 2fr 1fr;
  width:100%;
  background: linear-gradient(to right,#56CCF2,rgb(91, 147, 219) );
  align-items: center;
  border: 1px solid #000;
}

.end-screen{
  display:block;
  margin:0 auto;
  color:#fff;
  font-size:2rem;
}

.SmallC{
  margin:10px;
  width:10%;
}

.palette{
  position:absolute;
  background-color: rgba(216, 216, 216, 0.808);
  width:7%;
  display:block;
  transform: scale(1.2);
}

.no-show{
  display:none;
}

.circle{
  float:left;
}



.btn{
  border-radius:50%/10%;
  height:50px;
  background-color: rgb(255, 255, 255);
}

.btn:hover{
  background-color: rgb(44, 44, 44);
  color:#fff;
}

.BigC{
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

.Rules{
  display:block;
  position:fixed;
  box-sizing: border-box;
  padding:3rem;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  background:#fff;
}

.help{
  display:block;
  margin-left: auto;
  padding:6px;
}

@media only screen and (max-width:800px){
  .palette{
  width:10%;
  }
  .SmallC{
    width:15%;
  }
  .BigC{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  #Head{
    font-size: 1.6rem;
  }
  .btn{
    height:30px;
  }
}

@media screen and (max-width: 1000px){
  .container{
    width:90vw;
  }
  #Head{
    font-size: 2rem;
  }
}

@media screen and (max-width: 420px){
  #Head{
    font-size:1rem;
  }
  .container{
    width:420px;
  }
  .container1 {
    width:200px;
  }
}